html {
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: center;
}

li {
    list-style: none;
}

.header {
    background-color: #EDAD0B;
    height: 90px;
}

.header-logo {
    font-size: 36px;
    color: #fff;
    float: left;
    padding: 20px 40px;
}

.header-list li {
    font-size: 20px;
    color: #fff;
    float: left;
    padding: 33px 20px;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(images/sea.jpg);
    background-size: cover;
    color: #fff;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 50px;
    letter-spacing: 5px;
}

.hello h2{
    font-size: 40px;
}

.hello p {
    font-size: 30px;
    padding: 10px;
}

.favorites {
    height: 700px;
    margin-top: 80px;
}

.section-title {
    font-size: 40px;
    border-top: 2px solid #dee7ec;
    padding-top: 30px;
    margin: 50px;
}

.favorite-thing {
    float: left;
    margin-right: 60px;
}

.favorite-thing p {
    font-size: 25px;
    margin-top: 20px;
}

.contact-form {
    padding-top: 100px;
}

.contact-form p {
    font-size: 20px;
}

input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

.contact-submit {
    background: #dee7ec;
    color: #889eab;
}

.footer {
    background-color: #F3C759;
    color: #fff;
    height: 120px;
    padding: 20px 10px;
}

.footer-logo {
    font-size: 32px;
    float: left;
}

.footer-list {
    float: right;
}

.footer-list li {
    padding-bottom: 20px;
}

img {
    width: 400px;
    display: block;
    margin: 0 auto;
}