html {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

li {
    list-style: none;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.top-wrapper {
    height: 150px;
    padding: 180px 0 100px 0;
    background-image: url(../images/sunflower.jpg);
    background-size: cover;
    color:#fff;
    text-align: center;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 60px;
    letter-spacing: 5px;
}

header {
    height: 65px;
    width: 100%;
    background-color: #EDAD0B;
    color: #fff;
}

.header-logo {
    font-size: 35px;
    float: left;
}

.header-button{
    padding: 20px;
    display: inline-block;
}

.header-button:hover {
    color: black;
}

.favorites-wrapper {
    text-align: center;
    height: 700px;
    margin-top: 80px;
}

.contact-form {
    padding-top: 100px;
}

.contact-form p {
    font-size: 20px;
}

input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

.contact-submit {
    background: #dee7ec;
    color: #889eab;
}

.footer {
    background-color: #F3C759;
    color: #fff;
    height: 120px;
    width: 100%;
}

.footer-logo {
    font-size: 35px;
    float: left;
}

.footer-list {
    float: right;
}

.btn {
    display: inline-block;
}

.btn:hover{
    color: black;
}

.fa {
    margin-right: 5px;
}