html {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: center;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
    border-bottom: 1px solid #8A8888;
}

p, li {
    font-size: 20px;
}

img {
    width: 400px;
    display: block;
    margin: 0 auto;
}